body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px; /* Reducido a la mitad */
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .header {
    text-align: center;
    padding: 10px 0; /* Reducido a la mitad */
  }
  .header img {
    max-width: 200px;
  }
  .header h1 {
    margin: 0;
  }
  .details {
    margin: 10px 0; /* Reducido a la mitad */
  }
  .details td {
    padding: 5px; /* Reducido a la mitad */
  }
  .products {
    width: 100%;
    margin: 10px 0; /* Reducido a la mitad */
    border-collapse: collapse;
  }
  .products th {
    background-color: #f2f2f2;
    padding: 5px; /* Reducido a la mitad */
    border: 1px solid #ddd;
    text-align: left;
  }
  .products td {
    padding: 5px; /* Reducido a la mitad */
    border: 1px solid #ddd;
  }
  .products th:nth-child(2), .products td:nth-child(2) {
    width: 40%; /* 40% del ancho disponible */
  }
  .products th:nth-child(3), .products td:nth-child(3), .products th:nth-child(4), .products td:nth-child(4) {
    width: 20%; /* 20% del ancho disponible */
  }
  .totals {
    width: 100%;
    margin: 10px 0; /* Reducido a la mitad */
    border-collapse: collapse;
  }
  .totals td {
    padding: 5px; /* Reducido a la mitad */
    border: 1px solid #ddd;
    font-weight: bold;
  }
  .totals tfoot {
    border-top: 1px solid #ddd; /* Reducido a la mitad */
  }